h1, h3, footer {
    text-align: center;
    font-family: "Palatino", Georgia, Serif;

}

.birthday-form {
    text-align: center;
}

footer{
    padding-top: 25px;
}

.game {
    padding: 25px;
}

.game-start {
    text-align: center;
    padding: 10px;
}

.game-play {
    padding: 10px;
}