h1, h2, footer {
    text-align: center;
    font-family: "Palatino", Georgia, Serif;
}

h1{
    font-size: 26px;
}

h2{
    font-size: 18px;
}

main{

    padding: 10px;
}

#birthday-verification{
    padding: 10px;
}

.birthday-form {
    text-align: center;
}

footer {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 95px;
}

.game {
    padding: 25px;
}

.game-start {
    text-align: center;
    padding: 20px;
}

.game-play {
    padding: 10px;
}

