h1, h2, h3 {
    text-align: center;
    font-family: "Palatino", Georgia, Serif;
    font-weight: bold;
}

#head-section {
    background-image: url("https://st2.depositphotos.com/1371034/9707/v/950/depositphotos_97077682-stock-illustration-seamless-pattern-of-playing-card.jpg");
    background-size: 400px;
    padding: 25px;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h4 {
    text-align: left;
    padding-left: 10px;    
}

.deal-button-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    padding-top: 10px;
}

main {
    padding: 10px;
}

footer {
    margin-top: 10px;
    margin-bottom: 95px;
    font-size: 18px;
    font-family: "Palatino", Georgia, Serif;
    text-align: center;
    background-image: url("https://st2.depositphotos.com/1371034/9707/v/950/depositphotos_97077682-stock-illustration-seamless-pattern-of-playing-card.jpg");
    background-size: 400px;
    padding: 25px;
}

a {
    color: black;
    font-size: 18px;
}

a:hover {
    color: red;
}

.game-play {
    margin-top: 20px;
}

.jumbotron{
    height: 350px;
    background-color: green;
    margin: 10px;
}

#hit-button, #stay-button{
  padding: 10px;
  margin: 5px;
  height: 40px;
}

.playerCard, .dealerCard {
    height: 150px;
    margin: 10px;
}